[
  {
    "ParameterKey": "testFleetSubnetId",
    "ParameterValue": "REPLACE-ME-testFleetSubnetId"
  },
  {
    "ParameterKey": "CidrIp",
    "ParameterValue": "0.0.0.0/0"
  },
  {
    "ParameterKey": "KeyName",
    "ParameterValue": "REPLACE-ME-KeyName"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "REPLACE-ME-VpcId"
  },
  {
    "ParameterKey": "testArtifactsBucket",
    "ParameterValue": "load-test-with-spot-fleet"
  },
  {
    "ParameterKey": "prerequisitesStackName",
    "ParameterValue": "demo-pre-requisites"
  },
  {
    "ParameterKey": "spotFleetStackName",
    "ParameterValue": "demo-spot-fleet"
  },
]

